/* Base --------------------------------------------------------------------*/
@font-face {
    font-family: Dosis_extralight;
    src: url(../font/Dosis/Dosis-ExtraLight.ttf);
}

@font-face {
    font-family: Dosis_light;
    src: url(../font/Dosis/Dosis-Light.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(../font/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

body {
    font-family: Dosis_light;
    background-color: rgb(37, 37, 37);
}















/* Navbar ------------------------------------------------------------------*/
.navbar {
    background-color: rgb(41, 41, 41);
    height: 100px;
    border-bottom: 4px solid rgb(184, 184, 77);
    padding: 0 120px;
    z-index: 10000;
}

.logo {
    width: 300px;
}

.search {
    width: 400px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 0 60px 0 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: rgb(32, 32, 32);
    box-shadow: inset 0.5px 0.5px 6px black;
    color: white;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-icon {
    position: absolute;
    margin-right: 20px;
    color: rgb(221, 221, 221);
    cursor: pointer;

}

.user-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-icon, .cart-icon {
    color: rgb(221, 221, 221);
    font-size: 1.3rem;
    margin: 0 0px 0 70px;
    cursor: pointer;
}

.user-icon:hover, .cart-icon:hover {
    color: rgb(156, 156, 156);
}



/* Category --------------------------------------------------------*/

.category-container {
    background-color: rgb(26, 26, 26);
    height: 50px;
    margin-top: 100px;
    padding-top: 13px;
}

#category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px;
    list-style: none;
    margin-bottom: unset !important;

}

#category li a{
    color: rgb(221, 221, 221) !important;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}



/* Body trang chủ -----------------------------------------------------*/

.home-body {
    margin-top: 200px;
    justify-content: space-around; 

}


.body-title {
    color: rgb(117, 246, 255) !important;
    font-size: 1.2rem;
}

.title-container {
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(102, 1, 1);
}

.card {
    background-color: rgb(24, 24, 24);
    min-height: 420px;
}

.card-img-top {
    height: 200px;
}

.card-title {
    text-transform: uppercase;
    color: rgb(117, 246, 255);
    font-size: 1rem;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-bottom: 18px;

}

.card-des {
  
    color: rgb(180, 180, 180);
    font-size: 1rem;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
}

.card-price {
    color: rgb(219, 213, 118);
    margin: auto auto 15px auto;  
}

.card-margin {
    margin-bottom: 35px;
}



/* Phân trang --------------------------------------------------------*/
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.page-link {
    padding: 0.375rem 1.5rem;
    background-color: rgb(24, 24, 24);
    color: rgb(223, 223, 223);
    border: 0;
}

.border-1 {
    border-left: 1px solid rgb(39, 39, 39);
    border-right: 1px solid rgb(39, 39, 39);

}

.page-item:not(:first-child) .page-link {
     margin-left: 0; 
}

.page-link:focus {
    box-shadow: none;
}




/* Footer -------------------------------------------------------*/
.bg-light {
  background-color: rgb(26, 26, 26)  !important;
  margin-top: 100px !important;
}

.title-footer  {
    color: rgb(224, 224, 224) !important;
}

.list-unstyled .mb-2 a {
    text-decoration: none !important;
    color: rgb(33, 138, 170);
}

.logo-footer {
    width: 150px;
}



/* Sign in ----------------------------------------------------------*/
.form-signin form {
    text-align: center;
}

.signin-title {
    color: white;
}

.remember-check {
    color: whitesmoke;
    margin: 20px 0 10px 0;
}